form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.h1{
  background-color: lightgray;
}
.mat-toolbar{
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.mat-raised-button{
  align-items: center;
  width: 20%;
}

.mat-form-field{
  width: 20%;
}
